{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type='text/css' media='screen' href="{% static 'styles/index.css' %}">


<footer class='foot-cust'>
    <!--facebook-->
    <a href="https://www.facebook.com/" target='_blank'>
        <i class="fa fa-2x  fa-facebook"></i>
    </a>
    <!--insta-->
    <a href="https://www.instagram.com/7lok_i7/" target='_blank'>
        <i class="fa fa-2x fa-instagram"></i>
    </a>
    <!--twitter-->
    <a href="https://www.twitter.com/" target='_blank'>
        <i class="fa fa-2x fa-twitter"></i>
    </a>
    <!--github-->
    <a href="https://github.com/rachit-patial" target='_blank'>
        <i class="fa fa-2x fa-github"></i>
    </a>
    <!--linkedin-->
    <a href="https://www.linkedin.com/in/rachit-patial-768168214/" target='_blank'>
        <i class="fa fa-2x fa-linkedin"></i>
    </a>
</footer>
