<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello Image</title>
    <meta name='viewport' content='width=device-width, intial-scale=1'>
    <!--I will be using Bootstrap in near future-->
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/index.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="main-body-div">
    {% block content %}

    {% endblock %}
    </div>

    {% include 'foot.html' %}
</body>
</html>